@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #cbefff;
}
.container--home {
  max-width: 144rem;
  margin: 17rem auto 0;
  display: grid;
  grid-template-columns: 1fr 46rem;
  gap: 7rem;
}
.card {
  border-radius: 8px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.06);
}
.padding {
  padding: 3.6rem;
}
.flex {
  display: flex;
  justify-content: center;
}
.flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gap-40 {
  gap: 4rem;
}
.gap-15 {
  gap: 1.5rem;
}
.center {
  margin: 0 auto;
}
.bg-orange {
  background: #ffeb3b;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.login-modal {
  max-width: 86rem;
  width: 80%;
  position: relative;
  top: 15vh;
}
.container {
  margin: 0 auto;
  width: max-content;
}
/* Typography */
.heading-primary {
  color: #221f03;
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.6rem;
}
p {
  color: #a69a36;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.strong {
  font-weight: 700;
}
.link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link-active {
  color: #221f03;
}
