.btn {
  padding: 1.2rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background: #03a9f4;
  outline: 0;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  transition: all 0.2s;
}
.btn:hover {
  background: #cbefff;
  color: #221f03;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}
.btn:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
